<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/login.css"/>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<div class="center">
				<h2>登录页面</h2>
				<form>
					<span>用户名：</span>
					<input type="text" id="stuName" name="stuName" v-model="stuName" />
					<span v-bind:style="tishicss">{{tishi}}</span>
					<br/>
					<span>密码：</span>
					<input type="password" id="password" name="password" v-model="password"  /><br/>
					<input type="button" value="登录" v-on:click="login()" />
				</form>
			</div>
		</div>	
		
		<script type="text/javascript">
			let vue = new Vue({
				el:'#app',
				data:{
					stuName:'',
					password:'',
					tishicss:'color:red',
					tishi:''
				},methods:{
					login:function(){
						let that = this;
						// ajax   axios
						let xhr = new XMLHttpRequest();
						xhr.onreadystatechange = function(){
							if(xhr.readyState==4){
								if(xhr.status==200){
									// 响应正文
									console.log(xhr.responseText);
									let res = xhr.responseText;
									//将字符串类型转为json格式
									let resJson = JSON.parse(res);
									if(resJson.result.errorcode == 0){
										//成功   跳转登录成功页面
										that.tishi = '';
										location.href="主页.html";
									}else{
										//失败   显示用户名或密码不正确
										that.tishi = '用户名或密码不正确';
									}
								}
							}
						}
						xhr.open('POST','http://localhost:8080/signInSys/qd/login.do',true);
						xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded;charset=UTF-8");
						xhr.send('stuName='+this.stuName+'&password='+this.password);
					}
				}
			});
		</script>
	</body>
</html>
